@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.first-color { 
	background: #feb062; 
}
	
.second-color { 
	background: #575151; 
}

.third-color { 
	background: #3f3b3b; 
}

.fourth-color { 
	background: #e7b3b3; 
}