@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.first-color { 
	background: #f6f9f6; 
}
	
.second-color { 
	background: #4D7265; 
}

.third-color { 
	background: #B2C7AD; 
}

.fourth-color { 
	background: #CFCDC5;
}

.fifth-color {
	background: #E2AC91;
}

/*

--text: #090c08;
--background: #f6f9f6;
--primary: #709c68;
--secondary: #afcbc9;
--accent: #8aa8b2;
*/

.dropdown:focus-within .dropdown-menu {
	opacity:1;
	transform: translate(0) scale(1);
	visibility: visible;
}